<h1>Followings</h1>

<u>
  <% @followings.each do |following| %>
    <h3 class="center jumbotron">
      <%= link_to(following.username, account_path(following)) %>
      <%= following.email %>
    </h3>
  <% end %>
</u>
