<div class='center jumbotron'>
  <h3>New Comment</h3>
</div>

<%= render 'form', comment: @comment %>

<div class='center jumbotron'>
  <%= link_to 'Back', account_post_path(@post.account, @post), class: 'btn btn-warning' %>
</div>
