<div class="center jumbotron">
<h1>Welcome to the Pepegram!</h1>
<% if account_signed_in? %>
    <!--fix this block, go to "persons/profilie"-->
    <span>Nice to meet you, <%= current_account.email %>!</span>
    <%= link_to 'Sign out', destroy_account_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Sign in', new_account_session_path %> |
    <%= link_to 'Sign up', new_account_registration_path %>
<% end %>
