<h1>Followers</h1>

<u>
  <% @followers.each do |follower| %>
    <h3 class="center jumbotron">
      <%= link_to(follower.username, account_path(follower)) %>
      <%= follower.email%>
    </h3>
  <% end %>
</u>

<div class="center jumbotron">
  <%= link_to 'Back', account_path(@acc), class: "btn btn-info" %>
</div>
