<h1>Followers</h1>

<u>
  <% @followers.each do |follower| %>
    <h3 class="center jumbotron">
      <%= link_to(follower.username, account_path(follower)) %>
      <%= follower.email%>
    </h3>
  <% end %>
</u>
