<div class='center jumbotron'>
  <h3>Editing Post</h3>
</div>

<%= render 'form', post: @post %>

<div class='center jumbotron'>
  <%= link_to 'Show', account_post_path(@acc, @post), class: 'btn btn-info' %>
  <%= link_to 'Back', account_posts_path(@acc), class: 'btn btn-warning'  %>
</div>
