<div class="center jumbotron">
  <h1>Welcome to the Pepegram!</h1>
    <h2>
      This app is a tutorial project to develop an intagram-clone for RoR Academy by student Alex Dikun.
    </h2>
    <%= image_tag('pepeinst.jpeg', width: '355', class: 'img-responsive center-block') %>
</div>
