<div class="center jumbotron">
  <h1>Pepegram support</h1>
    <p>Please, report your problem here: 8 800 555 3535</p>
    <br>
    <h2>Your password must be at least 8 characters long and contain at least one letter and one number!</h2>
