<div class="center jumbotron">
<h1>This a wib site homepage! </h1>
<% if account_signed_in? %>
  <% account_path(current_account) %>
<% else %>
  <span>Please, sign in / sign up!</span> <br /> <br />
  <%= link_to 'Sign in', new_account_session_path, class: "btn btn-secondary" %>
  <%= link_to 'Sign up', new_account_registration_path, class: "btn btn-success" %>
<% end %>
