<div class="center jumbotron">
<h1>This a wib site homepage! </h1>
<% if account_signed_in? %>
  <span>Nice to meet you, <%= current_account.email %>!</span>
  <%= link_to 'Sign out', destroy_account_session_path, :method => :delete %>
<% else %>
  <span>Please, register!</span> <br /> <br />
  <%= link_to 'Sign in', new_account_session_path, class: "btn btn-secondary" %>
  <%= link_to 'Sign up', new_account_registration_path, class: "btn btn-success" %>
<% end %>
