<% @accounts.each do |acc| %>
  <form class="center jumbotron">
    <legend><%= acc.username %></legend>
    <button type='submit'> <%= link_to 'Check', (account_path(acc)) %> </button>
  </form>
<% end %>
